<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.upenn.cis350.androidapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:networkSecurityConfig="@xml/network_security_config"
        android:usesCleartextTraffic="true">
        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/network_security_config" />

        <activity
            android:name=".ReportActivity"
            android:label="@string/title_activity_report"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FoundItem2Activity"
            android:label="@string/title_activity_found_item2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LostItem2Activity"
            android:label="@string/title_activity_lost_item2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LostItem1Activity"
            android:label="@string/title_activity_lost_item1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FoundItem1Activity"
            android:label="@string/title_activity_found_item1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CreateAccountActivity" />
        <activity android:name=".VerifyEmailActivity" />
        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".ForgotPasswordVerifyEmailActivity" />
        <activity android:name=".ForgotPasswordNewPasswordActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".NewPostActivity" />
        <activity android:name=".PostLost1Activity" />
        <activity android:name=".PostLost2Activity" />
        <activity android:name=".PostFoundActivity" />
        <activity android:name=".MessagingActivities.ChatsActivity" />
        <activity android:name=".MessagingActivities.MessagesActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false"/>
    </application>

</manifest>