.table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

.table td {
    border: 1px solid #ddd;
    padding: 8px 8px 8px 8px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
  }

.table tr:nth-child(even){background-color: #f2f2f2;}

.table tr:hover {background-color: #ddd;}

.table tr {
  width: 100%
}

.table th {
    border: 1px solid #ddd;
    padding: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #B5E0F1;
    color: black;
  }